h1 {
    color: darkgreen;
    font-family: Georgia;
    text-align: center;
}

#learn-id {
    font-family: georgia;
    text-align: center;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

img {
    float: left;
    padding-right: 50px;
}
