.flex-container {
    display: flex;
    background-color: darkcyan;
    justify-content: space-around;
    height: 400px;
    align-items: center;
}

.box1 {
    background-color: darkgoldenrod;
    width: 100px;
    height: 100px;
    transition-duration: 2s;
    transition-property: initial;
    
  }
  
  .box1:hover {
      width: 300px;
      background-color: burlywood;
  }
  
  .box2 {
      background-color: rgb(184, 11, 43);
      width: 100px;
      height: 100px;
      transition-duration: 1s;
      transition-timing-function: ease-in;
  }
  .box2:hover{
      height: 300px;
      outline-style: dashed;
      
  }
  
  .box3 {
      background-color: rgb(184, 63, 11);
    width: 100px;
    height: 100px;
    transition-duration: 3s;
  transition-property: background-color;
  }
  .box3:hover{
      border-radius: 600px;
      outline-style: groove;
      background-color: chartreuse;
  }
  
  .box4 {
      background-color: rgb(83, 184, 11);
    width: 100px;
    height: 100px;
    transition-property: width;
   transition-delay: 1s;
  }
  .box4:hover{
  outline-style: double;
      height: 350px;
      width: 350px;
      background-color: coral;
  }
  
  .box5 {
      background-color: blue;
    width: 100px;
    height: 100px;
    transition-duration: 4s;
    transition-property: height;
    
  }
  .box5:hover{
      height: 350px;
      width: 350px;
      border-radius: 325px;
  }
  
  .box6 {
      background-color: blueviolet;
      width: 100px;
      height: 100px; 
      font-size: 1px;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      
  }
  
  .box6:hover{
      padding: 400px;
      border-style: dotted;
      background-color: red;
      font-size: 200px;
      
  }
  