
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 20px 20px;
    padding: 20px;
}
.box1{
grid-column-start: 1;
grid-column-end: 5;
padding: 28px;
background-color: #F5C6D6;
}
.box2 {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 28px;
    background-color: #EE2E84;
}
.box3{
    grid-column-start: 2;
    grid-column-end: 3;
   padding: 28px;
    background-color: #EE2E84;
}
.box4{
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 28px;
    background-color: #EE2E84;
}
.box5{
    grid-column-start: 4;
    grid-column-end: 5;
    padding: 28px;
    background-color: #EE2E84;
}

.box6{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 28px;
    background-color:#85CFD8;
}

.box7{
    grid-column-start: 3;
    grid-column-end: 5;
padding: 28px;
    background-color: #85CFD8;
}

.box8{
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 28px;
    background-color:#8DC63F;
}

.box9{
    grid-column-start: 4;
    grid-column-end: 5;
    padding: 28px;
    background-color: #E76E34;
}

@media (max-width: 768px) {
    .box1{
        grid-column-start: 1;
        grid-column-end: 5;
        background-color: #F5C6D6;
        }
        .box2 {
            grid-column-start: 1;
            grid-column-end: 5;

            background-color: #EE2E84;
        }
        .box3{
            grid-column-start: 1;
            grid-column-end: 5;
            background-color: #EE2E84;
        }
        .box4{
            grid-column-start: 1;
            grid-column-end: 5;
           
            background-color: #EE2E84;
        }
        .box5{
            grid-column-start: 1;
            grid-column-end: 5;
        
            background-color: #EE2E84;
        }
        
        .box6{
            grid-column-start: 1;
            grid-column-end: 5;
        
            background-color:#85CFD8;
        }
        
        .box7{
            grid-column-start: 1;
            grid-column-end: 5;
    
            background-color: #85CFD8;
        }
        
        .box8{
            grid-column-start: 1;
            grid-column-end: 5;
            
            background-color:#8DC63F;
        }
        
        .box9{
            grid-column-start: 1;
            grid-column-end: 5;
    
            background-color: #E76E34;
        }
}